@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
body{
    font-family: "Space Grotesk",sans-serif;
}

  .fresh::before {
    content: '';
    position: absolute;
    border: 15px solid #dadad8a2;
    border-radius: 10px;
    width: 95%;
    height: 100%;
    top: -60px;
    z-index: 1;
  }
  @media (max-width:597px){
    .fresh{
      display: none !important;
    }
  }

.animated-button {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 5px;
  overflow: hidden;
}

.animated-button::before,
.animated-button::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #0f3c6a;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.animated-button::before {
  top: 0;
  transform-origin: right;
}

.animated-button::after {
  bottom: 0;
  transform-origin: left;
}

.animated-button:hover::before,
.animated-button:hover::after {
  transform: scaleX(1);
}
.loginbhoklago:hover{
  background-color: transparent !important;
  border: 1px solid #6B6B6B !important;
  color: black !important;
  transition: 1s all !important;
}